@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background: #ec4899 !important; /* pink */
  opacity: 1;
}

/* Hide Google Translate Default Banner & Tooltips */
.skiptranslate > iframe {
  display: none !important;
}
body {
  top: 0px !important;
  background-color: #f9fafb; /* Forces a very light gray background globally so cards pop */
}
#google_translate_element {
  display: none !important;
}
.goog-te-balloon-frame {
  display: none !important;
}
.goog-text-highlight {
  background-color: transparent !important;
  box-shadow: none !important;
}
